@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


$fontPrimary:'Roboto'; // Primary font for the application
$fontSecondary: 'Inter'; // Secondary font for fallback
$borderColor: rgb(131, 131, 131);
// Default border color used in various components
$textColor: rgb(0, 0, 0); // Default text color for readability

.btn {
    background-color: white;
    padding: 1%;
    border: 1px solid $borderColor;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgb(216, 216, 216);
    }
}